@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #f6f5f7;
    display: flex;
    justify-content: right;
    align-items: center ;
    font-family: 'Montserrat','sans-serif';
    height: 100vh;
    margin: 0 auto;
    font-size: 20px; 
    color: purple;
    background-image: url("money_tree.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: left;
    background-position: top:20%;
    
}
ul {
    position: relative; left;
}
.form-container{
    position: absolute;
    top: 15%;
    height: 70%;
    width: 30%;
    box-shadow: 0px 14px 28px rgba(0,0,0,.25),0px 10px 10px rgba(0,0,0,.22);
    font-family: 'Montserrat','sans-serif';
    right: 10%;

    

}
form{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
h1{
    font-weight: bold;
    margin: 0;

}
span{
    font-size: 12px;
}
input{
    background-color: #eee;
    border: none;
    text-decoration: none;
    margin: 8px 0;
    padding: 12px 15px;
    width: 100%;
     
}
button{
    border-radius: 20px;
    border: 1px solid purple;
    background-color:purple;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;

}




  
